bowtie/bowtie
bowtie/bowtie-build
bowtie/bowtie-inspect
bowtie2/bowtie2-align
bowtie2/bowtie2-build
bowtie2/bowtie2-inspect
cufflinks2/Makefile
cufflinks2/config.*
cufflinks2/src/Makefile
cufflinks2/src/compress_gtf
cufflinks2/src/cuffcompare
cufflinks2/src/cuffdiff
cufflinks2/src/cufflinks
cufflinks2/src/gffread
cufflinks2/src/gtf_to_sam
cufflinks2/stamp-h1
samtools/bcftools/bcftools
samtools/misc/*
samtools/samtools
tophat2/Makefile
tophat2/config.*
tophat2/src/Makefile
tophat2/src/bam2fastx
tophat2/src/bam_merge
tophat2/src/bed_to_juncs
tophat2/src/closure_juncs
tophat2/src/contig_to_chr_coords
tophat2/src/fix_map_ordering
tophat2/src/gtf_juncs
tophat2/src/gtf_to_fasta
tophat2/src/juncs_db
tophat2/src/long_spanning_reads
tophat2/src/map2gtf
tophat2/src/prep_reads
tophat2/src/sam_juncs
tophat2/src/segment_juncs
tophat2/src/sra_to_solid
tophat2/src/tophat
tophat2/src/tophat2
tophat2/src/tophat-fusion-post
tophat2/src/tophat_reports
tophat2/stamp-h1
libbam/
libeigen/
resources/usr/local/bin/*
*.o
*.a
*.Po
